{% extends "base.html" %}
{% block body %}
    <div class="cartlist" style="min-height:100%">
        {% for cartitems in carts.cart_items.all %}
        <div class="cartindi"> 
            <div class="cartinfo cartadj">
                <div>{{forloop.counter}}</div>
                <div class="cartimg cartadj"><img style="width: 100%;min-width:80px;;" src="/media/{{cartitems.pizza.image}}" alt=""></div>
                <div class="cartadj">{{cartitems.pizza.pizza_name}}</div>
                <div class="cartadj">{{cartitems.pizza.price}}</div>
                <div class="cartadj">{{cartitems.pizza.category.category_name}}</div>
                <div class="cartadj"><a href="{% url 'remove_cart_items' cartitems.uid %}" class="btn btn-danger">Remove</a></div>
            </div>
        </div>
                {% endfor %}
        <div class="sumtotal" style="padding: 20px;display: flex;align-items: center; justify-content: space-evenly;width: 80%;border-top: 3px solid black;">
            <div>TOTAL</div>
            <div>{{carts.get_cart_total}}</div>
            <div class="paybutton"><a href="details"><button class="btn btn-success">Pay Now</button></a></div>
        </div>        
    </div>
{% endblock body %}
