{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="poster">
    
</div>
<div class="info">
    <img style="width: 100%;height:100px;" src="https://static.vecteezy.com/system/resources/thumbnails/011/660/121/small/golden-vintage-border-png.png" alt="">
    <H1 class="heading">Great Italian Delicacies at your doorsteps.</H1>
    <div class="content">
{% for pizza in pizzas %}
        <div class="card">
            <img src="/media/{{pizza.image}}" class="card-img-top" alt="...">
            <div class="card-body">
          <h5 class="card-title">{{pizza.pizza_name}}</h5>
          <p class="card-text cardpad">Price-{{pizza.price}} | Category-{{pizza.category.category_name}}</p>
          <a href="{% url 'add_cart' pizza.uid %}" class="btn btn-primary ordernow">Add to cart</a>
        </div>
      </div>
      <a href="cart">
        <button class="cart" href="cart.html" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg><i style="color: red; font-size: larger;">{{request.user.get_cart_count}}</i></button></a>
      {%endfor%}
      
    </div>
</div>
    

{% endblock body %}